html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #152e4e;
}
a{
    text-decoration: none;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.profile h2{
    margin-top: 5px;
    text-align: center;
    font-size: 24px;
    color:rgb(124, 207, 218)
}
.profile p{
    font-size: 18px;
    text-align: center;
    color:rgb(124, 207, 218)

}
.medias {
    margin-top: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.medias button{
    width: 150px;
    height: 40px;
    color:rgb(25, 158, 211);
    background-color: #80c4b8;
    transition: all 0.3s;
    border: 1px solid rgb(107, 130, 160);
}
.medias button:hover{
    cursor: pointer;
    filter:brightness(140%);
    transform: scale(1.05);
}
.medias a{
    margin-top: 5px;
    color: black;
}
.container-projects{
    width: 100%;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 24px;
    width: 100%;
}
.project{
    margin-bottom: 10px;
    display: flex;
    height: 600px;
    border-bottom: 5px inset rgb(39, 72, 77);
    border-top: 5px outset rgb(44, 146, 160);

}

.project .description{
    color:#a9c1e0;
    background-color: rgb(82, 93, 128);
    width: 300px;
    min-width: 300px;
    border-right: 5px inset rgb(44, 146, 160);
}

.description-buttons button{
    width: 140px;
    height: 40px;
    background-color: #47635e;
    color:#afe0dc;
    transition: all 0.3s;
    margin-top: 5px;
}
.description-buttons button:hover{
    cursor: pointer;
    filter: brightness(140%);
}
.parallax-1{
    background-image: url('../assets/MyWallet\ demo.png');
    min-width: 72%;
    background-attachment: fixed;
    background-size: 72% 100%;
    background-position: bottom 0px left 280px;
    background-repeat: no-repeat;
    opacity: 0.65;
}
.parallax-2{
    background-image: url('../assets/TrackIt\ Demo.png');
    min-width: 72%;
    background-attachment: fixed;
    background-size: 72% 100%;
    background-position: bottom 0 left 280px;
    background-repeat: no-repeat;
    opacity: 0.65;
}
.parallax-3{
    background-image: url('../assets/Cineflex\ Demo.png');
    min-width: 72%;
    background-attachment: fixed;
    background-size: 72% 100%;
    background-position: bottom 0 left 280px;
    background-repeat: no-repeat;
    opacity: 0.65;
}
.parallax-4{
    background-image: url('../assets/JogoForca\ Demo.png');
    min-width: 72%;
    background-attachment: fixed;
    background-size: 72% 100%;
    background-position: bottom 0 left 280px;
    background-repeat: no-repeat;
    opacity: 0.65;
}
.parallax-5{
    background-image: url('../assets/Ataques\ DNS\ Demo.png');
    min-width: 72%;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: bottom 0 left 280px;
    background-repeat: no-repeat;
    opacity: 0.65;
}