body{
    background-color: #7bb3fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.profile h2{
    text-align: center;
    font-size: 24px;
}
.profile p{
    font-size: 18px;
    text-align: center;
}

.medias {
    margin-top: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.medias button{
    width: 120px;
    height: 30px;
    color:black;
    background-color: #80c4b8;
    transition: all 0.3s;
    border: 1px solid;
}
.medias button:hover{
    cursor: pointer;
    filter:brightness(140%);
    transform: scale(1.1);
}
.medias a{
    margin-top: 5px;
    color: black;
}
.projects{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 24px;
}